* {
    box-sizing: border-box;
  }  

.planner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: stretch;
}

.plannerSide {
    width: 100%;
    height: 100vh;
}

.plannerBody {
    height: 100vh;
}
