.planner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.plannerSide {
    width: 40vw;
    

    background-color: aquamarine;
}

.plannerBody {
    
}
